<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253235888649-cgls2bv81qs7o3ar66s64ihelgkqmetk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253235888649-cgls2bv81qs7o3ar66s64ihelgkqmetk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253235888649-o0mqnbqc65pkr4tv8eisptbdrqnraras.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9gFjz0i8WteQuqDTTlwTIWzE5CuNzpUc</string>
	<key>GCM_SENDER_ID</key>
	<string>253235888649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailPasswordLogin</string>
	<key>PROJECT_ID</key>
	<string>emailauth-a6d58</string>
	<key>STORAGE_BUCKET</key>
	<string>emailauth-a6d58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253235888649:ios:c580d288fa6a6256266ed8</string>
</dict>
</plist>